.chat_blog {
    padding: 50px 0;
}
.chat_box{
	background: #FFF;
    display: flex;
    height: 100%;
}
.chat_list{
	width: 40%;
	height: 100%;
	padding: 10px 15px;
	border-radius: 14px 0px 0px 14px;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
	background: #FFF;
}
.chat_header{
    width: 100%;
    padding: 15px 18px;
    margin: 0;
    align-items: center;
    justify-content: flex-start;
    background: rgba(38, 49, 77, 0.2);
	border-radius: 10px 0px 0px 0px;
}
.chat_header form .form-group{
	position: relative;
	margin: 0;
}
.chat_header form .form-control{
    width: 100%;
    background: #FFFFFF;
	border-radius: 8px;
    padding: 10px 45px;
    font-weight: 400;
	font-size: 12px;
	color: #8B8B8B;
    height: auto;
}
.chat_header form span {
	position: absolute;
    top: 0px;
    left: 0;
    margin: 8px 0 8px 20px;
}
.chat_header .chat_add_group{
	background: #FFFFFF;
	border-radius: 6px;
	width: 38px;
	height: 36px;
	padding: 8px 8px;
	margin-left: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.chat_header .chat_add_group img{
	width: 25px;
	height: 22px;
	object-fit: contain;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.chat_header form{
	display: flex;
	align-items: center;
	justify-content: center;
}
.chat_list_body ul li{
	border-bottom: 0.4px solid #DCDCDC;
	display: flex;
	align-items: center;
	padding: 15px 0px;
}
.chat_list_body ul li:last-child{
	border-bottom: 0;
}
.chat_list_body ul li a.chat_list_info{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}
.chat_list_body ul li a img{
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
}
.chat_list_info_fst{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.chat_msg {
    margin-left: 15px;
}
.chat_list_info_lst{
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}
.chat_list_info_fst .chat_msg h3 {
	color: #000;
	font-size: 14px;
	font-weight: 600;
	line-height: normal;
    margin-bottom: 3px;
	display: flex;
    align-items: center;
    justify-content: space-between;  
}
.chat_list_info_fst .chat_msg h3 span{
	margin-left: 10px;
}
.chat_list_info_fst .chat_msg p{
	margin-bottom: 0;
	color: rgba(0, 0, 0, 0.55);
	font-size: 12px;
	font-weight: 400;
	line-height: normal;
	text-overflow: ellipsis;
  	overflow: hidden;
  	white-space: nowrap;
}
.unread_msg .chat_list_info_fst .chat_msg p{
	margin-bottom: 0;
    font-weight: 400;
    font-size: 12px;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.chat_list_info_lst span{
	font-weight: 400;
	font-size: 12px;
	color: #868686;
	font-weight: 500;
	margin-bottom: 5px;
}
.chat_count{
	background: linear-gradient(180deg, #008ED4 0%, #0148B9 100%);
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    font-weight: 400;
    font-size: 10px;
    border-radius: 50%;
    margin: 0 !important;
}

.chat_conversation{
	width: 60%;
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.chat_conversation_header{
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 0px 14px 0px 0px;
	background: #FFF;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.wd_chat_head_lft{
	display: flex;
	align-items: center;
}
.chat_conversation_header a.chat_back_arrow {
    margin-right: 10px;
    display: none;
}
.chat_conversation_header a.chat_back_arrow i{
    color: #000;
}
.chat_conversation_header img{
	width: 40px;
	height: 40px;
	object-fit: contain;
	border-radius: 50%;
}
.chat_conversation_header h3{
	font-weight: 600;
	font-size: 14px;
	color: #000;
	margin: 0 0 0 18px;
}
.chat_conversation_body {
    padding: 15px;
    background: #f7f6f6;
}
.chat_conversation .time {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin: 0 auto 20px;
  text-align: center;
}
.chat_conversation_bx .wd_chat_duration{
	color: #000;
	margin: 5px 0 0;
	display: block;
	font-size: 11px;
	font-weight: 400;
}
.chat_messages_outgoing .wd_chat_duration{
	color: #000;
	margin: 5px 0 0;
	display: block;
	font-size: 11px;
	font-weight: 400;
	text-align: right;
}
.chat_conversation_bx img{
	width: 40px;
	height: 40px;
	object-fit: contain;
	border-radius: 50%;
	margin-right: 10px;
}
.chat_messages_incoming {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    margin: 0px auto 20px 0;
    width: 80%;
}
.chat_messages_outgoing{
	display: flex;
    flex-direction: row-reverse;
    padding-left: 0px;
    margin: 0px 0px 20px auto;
    width: 80%;
}
.chat_txt_bx{
	margin: 0 auto;
	text-align: left;
	display: inline-flex;
}

.chat_incoming_txt{
	background: linear-gradient(180deg, #008ED4 0%, #0148B9 100%);
    padding: 15px 15px;
    border-radius: 20px 20px 20px 0;
    word-break: break-word;
    margin: 0;
    box-shadow: 0px 6px 8px rgb(0 0 0 / 6%);
}
.chat_incoming_time{
	font-weight: 400;
	font-size: 10px;
	color: #AAA6B9;
	text-align: left;
}
.chat_outgoing_txt{
	background: #fff;
	box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.10);
	padding: 15px 15px;
	border-radius: 20px 20px 0px 20px;
	word-break: break-word;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	grid-gap: 10px;
}
.emoji_img{
	width: 16px !important;
	height: 16px !important;
	object-fit: contain;
	margin: 0 !important;
}
.txt_img img{
	width: 40px;
	height: 40px;
	object-fit: contain;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.chat_incoming_txt{
	display: flex;
	align-items: center;
	grid-gap: 3px;
}
.chat_incoming_txt p{
	font-weight: 500;
	font-size: 13px;
	color: #fff;
	margin: 0;
	text-align: left;
}
.chat_outgoing_txt p{
	font-weight: 500;
	font-size: 13px;
	color: #545454;
	margin: 0;
	text-align: left;
}
.chat_out_txt_bx{
	margin: 0 auto;
	text-align: right;
}
.chat_outgoing_time{
	font-weight: 400;
    font-size: 10px;
    color: #AAA6B9;
    text-align: right;
}
.chat_conversation_footer{
	background: #FFF;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
	border-radius: 0px;
	padding: 10px 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.chat_conversation_footer .form-group{
	position: relative;
	margin: 0;
}
.chat_conversation_footer .form-group .form-control{
	padding: 0px 0px;
    font-weight: 400;
    height: auto;
    background: #FFFFFF;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    color: #000;
    line-height: normal;
}
.chat_attach_icon{
	position: absolute;
	top: 0;
	left: 0;
	margin: 7px 0 0 15px;
}
.wd-send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: linear-gradient(180deg, #008ED4 0%, #0148B9 100%);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.13);
    width: 45px;
    height: 40px;
    border-radius: 50%;
}
.wd-send-btn svg {
    width: 24px;
    height: 24px;
}
.form-control:focus{
	box-shadow: none;
}
/*scrollbar*/
.chat_box .scrollbar
{
/*    height: 100%;*/
    overflow-x: hidden;
}
#style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: none;
    border-radius: unset;
    background-color: transparent;
}
#style-1::-webkit-scrollbar
{
    width: 100%;
    background-color: transparent;
}
#style-1::-webkit-scrollbar-thumb
{
    border-radius: unset;
    -webkit-box-shadow: none;
    background-color: transparent;
}
.v_scrollbar
{
	
	width: 100%;
	overflow-x: scroll;
}
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	height: 2px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(0, 0, 0, 0.1);
}

/*-----Create Group -----*/
.selected_chat{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow-x: auto;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	padding: 10px;
	position: relative;

}
.selected_chat .selected_img{
	position: relative;
	margin-left: 14px;

}
.selected_chat .selected_img img{
	width: 45px;
	height: 45px;
	object-fit: contain;
	border-radius: 50%;
}
.selected_chat .selected_img span{
	display: block;
	font-weight: 400;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.6);
	margin: 10px auto 0;
	text-align: center;
}
a.chat_cross{
	background: linear-gradient(90deg, #ECAC1A 0%, #E7BA1E 31.97%, #F5C635 99.97%);
	border: 1.5px solid #FFFFFF;
	width: 22px;
	height: 22px;
	display: block;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0px;
    right: 0;
    margin: 0 -5px 18px 0;
}
  .chat_list_info input[type="checkbox"][id^="myCheckbox"] {
    display: none;
  }
  .chat_list_info label {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    margin: 0;
    justify-content: space-between;
    width: 100%;

  }
  .chat_list_info label:before {

    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0px 0 4px 25px;
    width: 13px;
    height: 13px;
    z-index: 9;
    text-align: center;
    transition-duration: 0.4s;
    transform: scale(0);
  }

  .chat_list_info :checked + label:before {
    content: "";
    background-color: #3BB54A;
    transform: scale(1.2);
    opacity: 1;
    background: url(../images/chat/tick-icon.svg);
  }
  .chat_list_info :checked + label .chat_list_info{    
    opacity: 1;
    z-index: -1;
  }
  .chat_create_gp_bx {
    height: 100%;
    position: relative;
}
.chat_list_footer{
  	background: rgba(217, 217, 217, 0.2);
	border-radius: 0px 0px 0px 10px;
	padding: 12px 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
  }
.chat_next_btn{
	background: linear-gradient(90deg, #ECAC1A 0%, #E7BA1E 31.97%, #F5C635 99.97%);
	width: 46px;
	height: 46px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
}
.chat_msg_found{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}
.chat_msg_found img{
	width: 100%;
	height: 281px;
	object-fit: contain;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.chat_found_txt{
	font-weight: 400;
	font-size: 18px;
	color: #9B9B9B;
	margin: 0;
}
/*upload group icon*/
.chat_partici_gp_bx {
    padding: 10px 15px;
    height: 100%;
    display: none;
}
.chat_partici_gp_bx .profile-pic-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chat_partici_gp_bx .pic-holder {
  text-align: center;
  position: relative;
  border-radius: 50%;
  width: 152px;
  height: 152px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.chat_partici_gp_bx .pic-holder .pic {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
 

}

.chat_partici_gp_bx .pic-holder .upload-file-block,
.chat_partici_gp_bx .pic-holder .upload-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background-color: rgba(90, 92, 105, 0.7);*/
  color: #f8f9fc;
  font-size: 12px;
  font-weight: 600;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.chat_partici_gp_bx .pic-holder .upload-file-block {
  cursor: pointer;
}

.chat_partici_gp_bx .pic-holder:hover .upload-file-block,
.uploadProfileInput:focus ~ .upload-file-block {
  opacity: 1;
}

.chat_partici_gp_bx .pic-holder.uploadInProgress .upload-file-block {
  display: none;
}

.chat_partici_gp_bx .pic-holder.uploadInProgress .upload-loader {
  opacity: 1;
}
.chat_partici_gp_bx form .form-group{
	position: relative;
	display: flex;
	align-items: center;
	margin: 0;
}
.chat_partici_gp_bx form .form-group .form-control{
	font-weight: 300;
	font-size: 14px;
	border-left: 1px solid #E7BA1E;
    border-bottom: 1px solid #E7BA1E;
    border-right: transparent;
    border-top: transparent;
    border-radius: 0;

	color: #9C9C9C;
}
.chat_partici_gp_bx form .form-group .form-control::placeholder{
	font-weight: 300;
	font-size: 14px;
	color: #9C9C9C;

}
.chat_emoji {
    margin-left: 10px;
}
.chat_emoji img{
	width: 20px;
	height: 20px;
	object-fit: contain;
}
.chat_added_parti {
	margin: 20px 0 0;
}
.chat_added_parti h3{
	font-weight: 500;
	font-size: 14px;
	text-align: left;
	color: #000000;
}
.selected_parti{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.selected_parti .selected_parti_img {
	margin-right: 14px;
}
.selected_parti .selected_parti_img:last-child{
	margin-right: 0;
}
.selected_parti .selected_parti_img img{
	width: 45px;
	height: 45px;
	object-fit: contain;

}
.selected_parti .selected_parti_img span{
	display: block;
	font-weight: 400;
	font-size: 12px;
	margin: 4px auto 0;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
}
.chat_done{
	margin: 40px auto;
	text-align: center;
}
/*---form---*/
.wd_chat_search .form-control{
	border-radius: 50px;
	border: 1px solid rgba(0, 0, 0, 0.11);
	background: #FFF;
	padding: 12px 45px;
	height: auto;
	color: #8F959E;
	font-size: 15px;
	font-weight: 400;
}
.wd_chat_search .form-group{
	position: relative;
}
.wd_search_icon {
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px 0 0 18px;
}
/*-----Responsive -----*/
@media (max-width: 991px){
	.chat_box{display: block;height: 100%;}
	.chat_list, .chat_header form .form-group{width: 100%;border-right: 0;}
	.chat_conversation_header a.chat_back_arrow{display: block;}
	.chat_messages_incoming, .chat_messages_outgoing{width: 100%;}
	.chat_conversation{width: 100%;display: none;}
	.chat_conversation_header, .chat_header{border-radius: 10px 10px 0 0;}
	.chat_conversation_footer{border-radius: 0 0 10px 10px;}
	.chat_box .scrollbar{height: 500px;}
}
.msg-send_flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.msg-send_flex a:first-child{
	margin-right: 10px;
}
.msg-send_flex a:last-child{
	margin-left: 10px;
	background: #28BE02;
}
.chat_conversation_footer .form-group .form-control:focus {
    border: none;
    outline: none;
    box-shadow: unset;
}