/*.loginonly, .loginonly body, .loginonly body section, .loginonly body section .row {
    height: -webkit-fill-available;
}*/
.login_bg{
    background: url(../images/login-bg.png)no-repeat;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}
.wd-login-area {
    text-align: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.wd-login-top{
    margin: 1rem 0;
    display: block;
}
.wd-login-top img{
    max-width: 100%;
    height: 80px;
    object-fit: contain;
}

.wd-login-form{
    width: 60%;
    margin: 0 auto;
}
.wd-login-form .form-group {
    position: relative;
    margin-bottom: 22px;
}
.wd-login-form .form-group .form-control{
    display: block;
    padding: 15px 15px;
    font-size: 16px;
    height: auto;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: inherit;
    color: rgb(0 0 0 / 60%);
}
.wd-login-form .form-group .form-control::placeholder{
    color: rgb(0 0 0 / 60%);
}

.wd-login-form .iti {
    width: 100%;
}
.wd-login-form .iti--separate-dial-code .iti__selected-flag{
    background-color: transparent;
}

.toggle-icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 12px 15px;
    z-index: 1;
}
.wd-login-form .fa-fw {
    text-align: center;
    color: #aad5f5;
}
.wd-fget-txt{
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #008ED4;
    display: block;
    text-align: right;
    margin: 0 auto;
}
.wd-fget-txt:hover{
    color: #000;
}
.wd-login-btn {
    margin: 0 auto;
    padding: 12px 15px;
    max-width: 300px;
    width: 100%;    
    background: #52D017;
    box-shadow: 0px 5px 10px 0px rgba(1, 72, 185, 0.23);
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    line-height: normal;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    display: block;
    text-align: center;
    white-space: nowrap;
    border: none;
    text-transform: uppercase;
}
.wd-login-btn:before {
    background-color: rgba(255, 255, 255, 0.15);
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    z-index: -2;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.wd-login-btn:hover {
    color: #fff;
}
.wd-login-btn:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}
.wd-login-form p {
    font-weight: 600;
    font-size: 16px;
    color: #0A233A;
    margin-bottom: 0;
}
.wd-login-form p a {
    font-weight: 700;
    font-size: 16px;
    color: #008ED4;
}
.wd-login-form p a:hover{
    color: #000;
}
.rightbg img, .signupbg img {
    width: 70%;
    object-fit: contain;
    object-position: center;
}
/* signup */
.signupbg{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}
/* custom checkbox */
.custome-checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
.custome-checkbox label {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
    color: #0A233A;
    margin-bottom: 0;
}
.custome-checkbox a{
    color: #008ED4;
}
.custome-checkbox label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 3px;     
}
.custome-checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 6px;
    height: 11px;
    border: solid #FFf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.custome-checkbox input:checked +label::before{
    background: #008ED4;
    border-color: #008ED4;
}
.otp-form{display: flex;grid-gap: 10px;justify-content: center;}
.otp-form .form-group .form-control{width: 60px !important;height: 60px !important;border-radius: 10px;text-align: center;font-size: 24px;font-weight: 600;padding: 10px 10px !important;}

@media (max-width: 991px)
{
    .rightbg{display: none;}
    .wd-login-form {width: 80%;}
    .login_bg{background: #e8f5fb;}
}
@media (max-width: 767px){
    .wd-login-form {width: 100%;}
    #loginsign .row {width: 100%;margin: 0 auto;}
    .loginonly, .loginonly body, .loginonly body section, .loginonly body section .row{height: auto;}
}