* {
    box-sizing: border-box;
}

.colorGray {
    color: #00000080
}

.text-center {
    text-align: center;
}



.headingDiv h3 {
    margin-bottom: 30px;
}

.headingDiv p {
    margin-bottom: 0;
}

.headingDiv {
    margin-bottom: 50px;
}

.searchDiv {
    width: 100%;
    margin-bottom: 50px;
}

.searchContent {
    width: 25%;
}

.searchBtn {
    width: 25%;
}

.searchDiv form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    gap: 16px;
}

.searchBtn .form-group {
    margin-bottom: 0 !important;
}

.searchContent .form-group {
    margin-bottom: 0 !important;
    background: #FDFFFA;
    border: 1px solid #CFCFCF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    max-width: 100% !important;
    padding: 10px 30px;
    position: relative;
}

.searchContent .form-control {
    outline: unset;
    line-height: unset;
    padding: 0;
    box-shadow: unset;
    border: none;
    background: transparent;
    border-radius: 0;
    height: auto;
}

.searchContent label {
    margin-bottom: 0;
}

.searchBtn .form-group a {
    padding: 21px 32px;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}
/* #watchlisting .boxContent:first-child,
#orderlisting .boxContent:first-child {padding-top: 0;} */
.boxContentList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 8px;
    position: relative;
    overflow:hidden;
}

.boxContentList .boxImg-text .imgCol img {
    width: 200px;
    max-width: 200px;
    min-height: 130px;
    max-height: 130px;
    object-fit: cover;
    border-radius: 8px;
}

.boxContentList .boxImg-text .imgCol {
    /* background: #eee; */
    /* width: 50%; */
    display: flex;
    max-width: 200px;
    max-height: 130px;
}

.boxContentList .boxImg-text .textCol {
    width: calc(100% - 200px);
    max-width: calc(100% - 200px);
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boxContentList .boxImg-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.boxContentList .boxImg-text .textCol ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.boxContentList .boxImg-text .textCol ul li {
    display: flex;
    gap: 10px;
}

.boxContentList h2 span {
    display: block;
    font-size: 10px;
    color: #9c9c9c;
    font-weight: 300;
    margin: 0 0 5px;
}

.boxContentList .contentBlockBtn {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.boxContentList .contentBlockBtn .leftList ul li b {font-weight:300;}
.boxContentList .contentBlockBtn .leftList ul li span {font-weight:500;}
.boxContentList .contentBlockBtn .leftList {
    width: 100%;
    display: flex;
    gap: 12px;
}

.boxContentList .contentBlockBtn .leftList ul li {
    font-size: 15px;
    margin-bottom: 5px;
    line-height: 15px;
}

.boxContentList .contentBlockBtn .leftList ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 6px;
}

.boxContentList .contentBlockBtn .btnCol {
    width: 170px;
    max-width: 70%;
}

/* .boxContentList .contentBlockBtn .btnCol {
    width: 18%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
} */

.boxContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 0 0;
}

/* .mainContentDiv {
    border-top: 1px solid rgba(0,0,0,0.2);
    margin-top: 50px;
} */
.boxContentList .contentBlockBtn .btnCol a {
    border-radius: 8px;
    font-weight: 500;
}

.boxContentList h2 span {
    display: block;
}

.boxContentList .contentBlockBtn .iconDiv {
    /* width: 12%; */
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.searchContent svg {
    position: absolute;
    right: 31px;
    top: 22px;
}

.actionDiv {
    position: absolute;
    right: 0;
    top: 0;
}
.actionDiv .rotated-banner {
    background-color: #ED1C24;
    color: #F3F8FF;
    font-size: 10px;
    line-height: 13px;
    font-weight: 500;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    right: -20px;
    padding: 3px 24px;
    width: 80px;
    text-align: center;
    text-transform: capitalize;
}
.actionDiv .rotated-banner.green {
    background-color: #52D017;
}

.wishList-bidInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}

.wishList-bidInfo .wishListBtn .btn {
    background: #999;
    color: #fff;
}

.wishList-bidInfo .bidTnfo p {
    margin: 0;
}

.wishList-bidInfo .bidTnfo p .green {
    color: #52D017;
}

.wishList-bidInfo .bidTnfo p .blue {
    color: #0356D6;
}

.boxContentList h2.imgHeading {
    display: none;
}

.boxContentList .boxImg-text .textCol h2 {
    display: block;
    margin: 0;
    font-size: 20px;
}

.colorDivBlue .sub_color {
    color: #0356D6 !important;
}

.colorDivgreen span.sub_color {
    color: #52D017 !important;
}

.boxContentList .boxImg-text .textCol span.hideMob {
    color: #9C9C9C;
    line-height: 15px;
}

.headingDiv h3 br {
    display: none;
}

span.grey {
    color: #9c9c9c;
}

/* .boxContentList .contentBlockBtn .btnCol a {
    color: #F3F8FF;
} */

/***************** 3-10-2024 start *******************/

.expiryDiv p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    margin-bottom: 0;
}

#carDetailsModal .modal-header {
    display: flex;
    align-items: center;
    padding: 16px 23px 4px;
}

.jobsrch_info_list {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

#carDetailsModal ul.jobsrch_info_list li {
    margin-bottom: 0px;
    line-height: 15px;
}

.srch-data {
    margin-bottom: 0;
}

#idLoadData .imgCol {
    width: 50%;
}

#idLoadData .savebtnS .make_offer_btn {
    font-size: 19px;
    line-height: 24px;
    padding: 15px 20px;
    font-weight: 400;
    letter-spacing: 0.19px;
}

/***************** 3-10-2024 end *******************/


/***************** popup css *******************/

.modal-body .col-lg-6 {
    padding-right: 23px;
    padding-left: 23px;
}

/* .modal-header {
    padding: 23px 23px 0 23px !important;
} */
/* #carDetailsModal .modal-header button.btn-close {
    position: absolute;
    top: 15px;
    right: 23px;
} */

.modalMainBody .btnCustom a.make_offer_btn {
    margin-top: 22px;
}

.actionDiv svg {
    margin-right: -3px;
    margin-top: -3px;
}

.admin_job_top h3 br {
    display: none;
}

.modal-body h4.distance_text b,
.modal-body h4.distance_text strong {
    font-weight: 400 !important;
}


/* .job_container_watchList .boxContentList .boxImg-text .textCol ul li {
    width: 49%;
    margin: 0 0 16px;
} */

.job_container_watchList .boxContentList .boxImg-text .textCol ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
}

.job_container_watchList .boxImg-text .imgCol {
    flex-wrap: wrap;
    justify-content: center;
    /* margin-bottom: 30px; */
}

.job_container_watchList .boxImg-text .imgCol p {
    font-size: 10px;
    color: #9c9c9c;
    margin: 8px 0 0;
    display: block;
}

.actionDiv svg {
    margin-right: -3px;
    margin-top: -3px;
}

/* User Feedback Page */
.user-feedback-name {
    font-size: 16px!important;
    line-height: 20px;
}
.user-feedback-header-wrap {gap: 16px;}
.user-feedback-member-from {font-size: 14px;}
.user-feedback-stars li {line-height: 18px;}
.user-feedback-rating-count span {
    padding-top: 5px;
    font-size: 12px;
    color: #000000;
    display: inline-block;
}
.overall-review {border-top: 1px solid #D9D9D9;}
.feedback-item {
    color:#000000;
    font-weight: 500;
}
.feedback-user-name {
    font-size: 16px;
    font-weight: 500;
    color:#000000;
}
.feedback-user-verified {
    font-size: 12px;
    font-weight: 500;
    color:#52D017;
    margin-left: 14px;
}
.feedback-item,
.other-reviews.user-feedback-stars {margin-top: 14px; margin-bottom: 14px;}
.review-outer-wrap .review-wrap {
    padding: 30px 0;
    border-bottom: 1px solid #D9D9D9;
}
.review-outer-wrap .review-wrap:first-child {padding-top: 0;}
.review-outer-wrap .review-wrap:last-child {border-bottom:0}
.review-base-bar {
    background-color: #D9D9D9;
    width: 90px;
    height: 5px;
    border-radius: 10px;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
    overflow: hidden;
}
.review-active-bar {
    background-color: #FFA800;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    width:0;
    transition: width 0.25s ease-in-out 0.25s; 
    border-radius: 0 10px 10px 0;
}
.review-active-bar[data-percentage="98"] {width: 98%;}
.review-active-bar[data-percentage="2"] {width: 2%;}
.overall-review .total-review {font-size: 20px; font-weight: 500; margin-bottom: 0;}
.total-review-count,
.overall-review .total-rating {font-size: 16px; font-weight: 500;}
.review-count-bar li span {
    font-size: 16px;
    font-weight: 400;
    color:#000000;
}
.review-percentage {font-size: 16px; font-weight: 400; color:#595959;}
.review-count-bar li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10px;
    border-left: 1px solid #D9D9D9;
}
.review-steps {width: 10px;}
.review-count-bar span {margin-right: 10px;}
/* User Feedback Page */

@media (min-width:992px) {
    .jobsrch_form_blog .form-group.where_custom {
        padding: 15px 30px;
    }

    .jobsrch_form_blog .form-group.where_custom label {
        font-size: 20px;
        font-weight: 500;
    }

    .savebtnS {
        display: flex;
        justify-content: flex-end;
    }

    .savebtnS .make_offer_btn {
        width: auto;
    }
}

.job_container_watchList .boxContentList .boxImg-text .textCol ul li {
    width: 100%;
    margin: 0 0 8px;
}

.job_container_watchList .boxContentList .boxImg-text .textCol ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
}

.job_container_watchList .boxImg-text .imgCol {
    flex-wrap: wrap;
    justify-content: center;
    /* margin-bottom: 30px; */
}

.job_container_watchList .boxImg-text .imgCol p {
    font-size: 10px;
    color: #9c9c9c;
    margin: 8px 0 0;
    display: block;
}

.actionDiv svg {
    margin-right: -5px;
    margin-top: -5px;
    width: 75px;
    height: 65px;
    /* margin-right: -3px;
    margin-top: -3px; */
}
body.modal-open {
    -webkit-overflow-scrolling: none; 
}

@media (max-width:1440px) {
    .boxContentList .boxImg-text,
    .boxContentList .contentBlockBtn {
        width: 50%;
    }
    /* .boxContentList .boxImg-text .textCol {max-width:calc(100% - 200px); width:calc(100% - 200px);} */
    /* .boxContentList .boxImg-text .imgCol {max-width: 200px;} */
    /* .boxContentList .boxImg-text .imgCol img {
        width: 200px;
        max-width: 200px;
        min-height: 150px;
        max-height: 150px;
    } */

    .boxContentList .contentBlockBtn .btnCol a {
        font-size: 16px;
    }

    .searchContent,
    .searchBtn {
        width: 30%;
    }

    .boxContentList .boxImg-text .textCol h2 {
        font-size: 19px;
    }
}

@media (max-width:1280px) {
    .boxContentList .contentBlockBtn .leftList ul:first-child {
        padding-left: 0;
    }
    /* .boxContentList .contentBlockBtn .leftList ul:last-child {
        padding-right: 0;
    } */
    .boxContentList .boxImg-text .textCol h2 {
        font-size: 24px;
    }
    .boxContentList .boxImg-text .textCol {justify-content: center;}

    .boxContentList .contentBlockBtn .btnCol a {
        font-size: 15px;
        margin-top: 0;
    }

    /* .boxContentList .boxImg-text .imgCol img {
        width: 300px;
        max-width: 300px;
    } */

    .boxContentList {
        flex-direction: column;
    }

    .boxContentList .boxImg-text,
    .boxContentList .contentBlockBtn .leftList {
        width: 100%;
    }

    /* .boxContentList .boxImg-text .textCol {
        width: 65%;
    } */

    .boxContentList .contentBlockBtn {
        padding-top: 30px;
    }

    .boxContentList .contentBlockBtn {
        justify-content: flex-end;
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .boxContentList .boxImg-text .imgCol {
        max-width: 200px;
        max-height: 150px;
    }
    /* .boxContentList .boxImg-text .imgCol img {
        max-width: 200px;
        min-height: 150px;
        max-height: 150px;
    } */
}
@media (max-width:1199px) {

    .searchDiv form {
        flex-direction: column;
    }

    .searchContent,
    .searchBtn {
        width: 100%;
    }
}

@media (max-width:992px) {
    .searchDiv form {
        flex-direction: column;
    }

    .searchContent,
    .searchBtn {
        width: 100%;
    }

    .boxContentList .contentBlockBtn .btnCol a {
        border-radius: 8px;
    }

    .boxContentList .boxImg-text,
    .boxContentList .contentBlockBtn,
    .boxContentList .contentBlockBtn .leftList {
        width: 100%;
    }

    .boxContentList {
        gap: 5px;
    }

    /* .boxContentList .contentBlockBtn .btnCol {
        width: 100%;
        justify-content: flex-end;
    } */

    .boxContentList .contentBlockBtn .btnCol a {
        display: inline-block;
        width: 122px;
        padding: 0;
        margin: 0;
        height: 32px;
        line-height: 32px;
        font-size: 12px !important;
    }

    .boxContentList .boxImg-text .textCol h2 span {
        display: none;
    }

    .boxContentList .contentBlockBtn {
        padding-top: 8px;
    }
}

@media (max-width:991px) {
    #page-content-wrapper .navbar {
        box-shadow: none;
        background-color: #ffffff;
        /* background: linear-gradient(180deg, rgba(0, 141, 212, 0.31) 0%, rgba(245, 251, 254, 0) 100%); */
    }   
}
@media (max-width:767px) {
    .boxContentList .boxImg-text .textCol ul li {gap:5px;}
    .boxContentList h2.imgHeading {
        display: block;
        margin-bottom: 0;
    }
    /* .boxContentList .boxImg-text {align-items: center;} */
    .header-banner {padding-left: 15px; padding-right: 15px;}
    /* .boxContentList .contentBlockBtn .leftList ul:nth-child(2) {padding-bottom: 40px;} */
    .boxContentList .boxImg-text .textCol ul li,
    .job_container_watchList .boxContentList .boxImg-text .textCol ul li {margin-bottom: 5px;}
    /* body .job_container {
        padding: 15px 0;
    } */

    .boxContentList {
        border-radius: 0px;
    }

    .boxContentList {
        padding: 10px 20px;
    }

    .job_container .job-data {
        /* margin-left: 10px !important; */
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }

    .job_container .mainContentDiv {
        margin-left: -15px;
        margin-right: -15px;
    }

    .boxContentList .boxImg-text .imgCol img,
    .boxContentList .boxImg-text .imgCol {
        width: 92px;
        max-width: 92px;
        min-height: 57px;
        max-height: 57px;
    }

    .boxContentList .boxImg-text .textCol {
        /* width: 100%; */
        max-width: calc(100% - 102px);
        width: calc(100% - 102px);
    }

    .boxImg-text .textCol h2 {
        font-size: 18px;
    }

    .boxContentList .boxImg-text .textCol {
        gap: 0;
        padding-left: 0;
    }

    .searchContent svg {
        top: 0;
    }

    .boxContentList .boxImg-text .textCol ul {
        gap: 0px;
        margin-top: 5px;
    }

    /* .contentBlockBtn .leftList ul li { */
    .boxContentList .contentBlockBtn .leftList ul li {
        font-size: 12px;
    }

    .boxContentList .contentBlockBtn .leftList {
        gap: 10px;
    }

    .boxContentList .contentBlockBtn .btnCol a {
        font-size: 14px;
    }

    .boxContentList .contentBlockBtn .iconDiv {
        width: 100%;
        margin-top: -21px;
    }

    /* .boxContentList .contentBlockBtn .btnCol {
        margin-right: 35px;
        margin-top: -35px;
    } */

    .boxContentList .contentBlockBtn {
        padding-bottom: 0;
    }

    .hideMob {
        display: none;
    }

    .contentBlockBtn .leftList ul li b {
        font-weight: 300;
    }

    .boxContentList h2.imgHeading span {
        margin-bottom: 0;
    }

    .job-data span {
        padding-left: 15px;
    }

    .boxContentList .contentBlockBtn .leftList ul {
        width: 50%;
    }

    .headingDiv h3 br {
        display: block;
    }

    .boxContentList .boxImg-text .textCol h2 {
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
        margin-bottom: 3px;
    }

    .boxContentList .boxImg-text .textCol ul li {
        font-size: 14px;
        line-height: 14px;
        font-weight: 300;
    }

    .boxContentList .boxImg-text .textCol ul li:last-child {
        padding-bottom: 0;
    }

    .boxContentList .contentBlockBtn .leftList ul {
        gap: 2px;
    }

    .boxContentList .boxImg-text .textCol ul li i svg {
        width: 15px;
        height: 15px;
    }

    .boxContentList .contentBlockBtn {
        padding-top: 0;
    }

    .admin_job_top h3 br {
        display: block;
    }

    .modalMainBody .btnCustom a.make_offer_btn {
        margin-top: 22px;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.24px;
        padding: 13px 0;
        font-weight: 400;
    }

    .wishList-bidInfo .wishListBtn .btn {
        font-size: 12px;
        line-height: 15px;
        font-weight: 500;
        padding: 8px 16px;
    }

    .wishList-bidInfo {
        margin: 21px 0 37px 0;
    }

    .bidTnfo .info {
        font-size: 12px;
        line-height: 15px;
        font-weight: 300;
    }

    .wishList-bidInfo .bidTnfo p:last-child {
        margin-bottom: 0;
    }

    .wishList-bidInfo .bidTnfo p {
        margin-bottom: 10px;
    }

    .jobsrch_info_list li small {
        font-size: 15px;
        margin-left: 7px;
        font-weight: 300;
    }

    .jobsrch_info_list li small {
        font-size: 15px;
        margin-left: 7px;
        font-weight: 300;
    }

    .jobsrch_info_list span {
        font-size: 15px;
        font-weight: 400;
    }

    #carDetailsModal .jobsrch_right_box {
        margin-top: 26px;
    }

    #carDetailsModal h4.distance_text {
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: 400;
    }

    .jobsrch_head.jobsrch_img {
        display: flex;
        height: 225px;
        min-height: 225px;
        max-height: 225px;
        position: sticky;
        justify-content: flex-start;
        align-items: flex-start;
    }

    /* #carDetailsModal ul.jobsrch_info_list li{
        margin-bottom: 15px;
    } */
    .contentBlockBtn .leftList ul li span {
        font-weight: 500;
    }

    .admin_job_top h3 {
        color: #000000;
        font-size: 32px !important;
        font-weight: 700 !important;
        line-height: 37px;
    }

    .jpbsrch_inner {
        width: 43% !important;
    }

    .srch-data {
        margin-top: 40px !important;
    }

    .srch-data {
        margin-bottom: 0 !important;
    }
    /* .actionDiv svg {
        width: 65px;
        height: 55px;
    } */

}
@media (max-width:575px) {
    .list_of_items,
    #search-results {margin-left: -15px; margin-right: -15px;}
}
@media (max-width:400px) {
    .boxContentList .contentBlockBtn .btnCol a {
        width: 85px;
    }
}

@media (max-width:374px) {
    /* .boxContentList .boxImg-text .textCol h2,
    .boxContentList .boxImg-text .textCol ul li,
    .boxContentList .contentBlockBtn .leftList ul li {
        font-size: 13px;
    }    */
    .boxContentList .boxImg-text .textCol {padding-right: 0;}
    .boxContentList .boxImg-text .textCol ul li {gap:5px;}
    .contentBlockBtn .leftList ul li span {display: block;}
}